<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjwg.main.dao.WalletDao">
	<resultMap id="BaseResultMap" type="com.bjwg.main.model.Wallet">
		<id column="wl_WALLET_ID" property="walletId" jdbcType="BIGINT" />
		<result column="wl_USER_ID" property="userId" jdbcType="BIGINT" />
		<result column="wl_MONEY" property="money" jdbcType="DECIMAL" />
		<result column="wl_STATUS" property="status" jdbcType="TINYINT" />
		<result column="wl_PAY_PASSWORD" property="payPassword"	jdbcType="VARCHAR" />
		<result column="wl_JSON" property="json" jdbcType="VARCHAR" />
	</resultMap>
	
	
	
	
	
	
	<resultMap id="BaseResultMap2" type="com.bjwg.main.model.Wallet">
		<id column="wl_WALLET_ID" property="walletId" jdbcType="BIGINT" />
		<result column="wl_USER_ID" property="userId" jdbcType="BIGINT" />
		<result column="wl_MONEY" property="money" jdbcType="DECIMAL" />
		<result column="wl_STATUS" property="status" jdbcType="TINYINT" />
		<result column="wl_PAY_PASSWORD" property="payPassword" jdbcType="VARCHAR" />
		<result column="wl_JSON" property="json" jdbcType="VARCHAR" />
		<result column="card_number" property="cardNumber" jdbcType="SMALLINT" />
	</resultMap>
	
	
	<resultMap id="BaseResultMap3" type="com.bjwg.main.model.WalletAndBankCard" >
	    <id column="wl_WALLET_ID" property="walletId" jdbcType="BIGINT" />
	    <result column="bc_CARD_ID" property="cardId" jdbcType="BIGINT" />
	    <result column="wl_USER_ID" property="userId" jdbcType="BIGINT" />
	    <result column="wl_MONEY" property="money" jdbcType="DECIMAL" />
	    <result column="wl_STATUS" property="status" jdbcType="TINYINT" />
	    <result column="wl_PAY_PASSWORD" property="payPassword" jdbcType="VARCHAR" />
	    <result column="wl_JSON" property="json" jdbcType="VARCHAR" />
	    
	    <result column="bc_CARD_NO" property="cardNo" jdbcType="VARCHAR" />
	    <result column="bc_ACCOUNT_NAME" property="accountName" jdbcType="VARCHAR" />
	    <result column="bc_CARD_TYPE" property="cardType" jdbcType="DECIMAL" />
	    <result column="bc_BANK_CODE" property="bankCode" jdbcType="VARCHAR" />
	    <result column="bc_BANK" property="bank" jdbcType="VARCHAR" />
	    <result column="bc_ID_CARD" property="idCard" jdbcType="VARCHAR" />
	  </resultMap>
	
	
	
	<sql id="Example_Where_Clause">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		wl.WALLET_ID as wl_WALLET_ID, wl.USER_ID as wl_USER_ID, wl.MONEY as
		wl_MONEY, wl.STATUS as wl_STATUS,
		wl.PAY_PASSWORD as wl_PAY_PASSWORD, wl.JSON as wl_JSON
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.bjwg.main.model.WalletExample">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from bjwg_wallet wl
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<include refid="OracleDialectSuffix" />
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		select
		<include refid="Base_Column_List" />
		from bjwg_wallet wl
		where wl.WALLET_ID = #{walletId,jdbcType=DECIMAL}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		delete from bjwg_wallet
		where WALLET_ID = #{walletId,jdbcType=DECIMAL}
	</delete>
	<insert id="insert" parameterType="com.bjwg.main.model.Wallet">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		<selectKey resultType="java.lang.Long" keyProperty="walletId" order="AFTER" >
	      SELECT LAST_INSERT_ID()
	    </selectKey>
		insert into bjwg_wallet (USER_ID, MONEY, STATUS,
		PAY_PASSWORD, JSON
		)
		values (#{userId,jdbcType=DECIMAL}, #{money,jdbcType=DECIMAL},
		#{status,jdbcType=DECIMAL},
		#{payPassword,jdbcType=VARCHAR}, #{json,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.bjwg.main.model.Wallet">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		<selectKey resultType="java.lang.Long" keyProperty="walletId" order="AFTER" >
	      SELECT LAST_INSERT_ID()
	    </selectKey>
		insert into bjwg_wallet
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				USER_ID,
			</if>
			<if test="money != null">
				MONEY,
			</if>
			<if test="status != null">
				STATUS,
			</if>
			<if test="payPassword != null">
				PAY_PASSWORD,
			</if>
			<if test="json != null">
				JSON,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=DECIMAL},
			</if>
			<if test="money != null">
				#{money,jdbcType=DECIMAL},
			</if>
			<if test="status != null">
				#{status,jdbcType=DECIMAL},
			</if>
			<if test="payPassword != null">
				#{payPassword,jdbcType=VARCHAR},
			</if>
			<if test="json != null">
				#{json,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.bjwg.main.model.WalletExample"
		resultType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		select count(*) from bjwg_wallet wl
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByPrimaryKeySelective" parameterType="com.bjwg.main.model.Wallet">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		update bjwg_wallet
		<set>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=DECIMAL},
			</if>
			<if test="money != null">
				MONEY = #{money,jdbcType=DECIMAL},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=DECIMAL},
			</if>
			<if test="payPassword != null">
				PAY_PASSWORD = #{payPassword,jdbcType=VARCHAR},
			</if>
			<if test="json != null">
				JSON = #{json,jdbcType=VARCHAR},
			</if>
		</set>
		where WALLET_ID = #{walletId,jdbcType=DECIMAL}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.bjwg.main.model.Wallet">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		update bjwg_wallet
		set USER_ID = #{userId,jdbcType=DECIMAL},
		MONEY = #{money,jdbcType=DECIMAL},
		STATUS = #{status,jdbcType=DECIMAL},
		PAY_PASSWORD = #{payPassword,jdbcType=VARCHAR},
		JSON = #{json,jdbcType=VARCHAR},
		where WALLET_ID = #{walletId,jdbcType=DECIMAL}
	</update>
	<sql id="OracleDialectSuffix" >
	    <if test="page != null" >
	      limit #{page.currentRow} , #{page.perRows}
	    </if>
	  </sql>
	  
	  
	<select id="selectCountCardNumberByExample" resultMap="BaseResultMap2" parameterType="com.bjwg.main.model.WalletExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,(select count(0) from bjwg_bank_card bc where bc.user_id = wl.user_id) card_number
    from bjwg_wallet wl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  
  
  <select id="selectLoadBankCardByExample" resultMap="BaseResultMap3" parameterType="com.bjwg.main.model.WalletExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    , bc.CARD_ID as bc_CARD_ID, bc.CARD_NO as bc_CARD_NO, bc.ACCOUNT_NAME as bc_ACCOUNT_NAME, 
    bc.CARD_TYPE as bc_CARD_TYPE, bc.BANK_CODE as bc_BANK_CODE, bc.BANK as bc_BANK, bc.ID_CARD as bc_ID_CARD, 
    bc.USER_ID as bc_USER_ID
    from bjwg_wallet wl
    left join bjwg_bank_card bc
    on wl.user_id = bc.user_id
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  
</mapper>